{% extends 'bases/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<section>
    {% include 'navbar.html' %}
</section>

<section>
    <div class="container-home">
        <div class="box-produto">
            <img src="{% static 'img/compras.png' %}"
                alt="Nome do Produto">
            <div class="descricao-produto">
                <h1>Semana do consumidor é aqui!</h1>
                <p>Super ofertas imperdíveis!!!</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>

        <br />
        <div class="row">
            {% for p in produto_list|slice:":12" %}
            <!-- Limite para exibir apenas os 12 primeiros produtos na home -->
            <div class="product-column">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a
                                href="{% url 'virtualstore:produto-detalhe' p.slug %}">
                                {{ p.titulo }}
                            </a>
                            <img class="card-img-top"
                                src="{{ p.imagem.url }}"
                                alt="{{ p.titulo }}">
                        </h4>
                    </div>
                </div>
                <div>
                    <p class="card-text">
                        Preço: <strike>R$ {{ p.preco_marcado }}</strike> R$
                        {{ p.venda }}
                    </p>
                    <a href="{% url 'virtualstore:addcarrinho' p.id %}"
                        class="btn btn-primary">COMPRAR</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<section>
    <div class="box-categorias">
        <h2>Categorias</h2> <!-- Título movido para dentro do box -->
        <ul class="card-categorias-lista">
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/eletroeletronicos.png' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/moveis.jpg' %}" alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/saude.jpeg' %}" alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/brinquedos.png' %}" alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/esportes.jpg' %}" alt></a></li>
        </ul>
    </div>
</section>

{% endblock %}
