{% extends 'bases/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section>
    {% include 'navbar.html' %}
</section>

<!-- ########### CARDS CONTAINER ATENDIMENTOS ESPECIALIZADO ############ -->

<section>
    <div class="container-home">
        <div class="row">
            <div class="cards-container">
                <ul class="cards">
                    <li class="card">
                        <h3>Título do Card 2</h3>
                        <img src="{% static 'img/entrega.png' %}"
                            alt="Nome do Produto">
                        <p>Texto do Card 2</p>
                    </li>

                    <li class="card">
                        <h3>Título do Card 3</h3>
                        <img src="{% static 'img/suporte.png' %}"
                            alt="Nome do Produto">
                        <p>Texto do Card 3</p>
                    </li>

                    <li class="card">
                        <h3>Título do Card 4</h3>
                        <img src="{% static 'img/devolucao.png' %}"
                            alt="Nome do Produto">
                        <p>Texto do Card 4</p>
                    </li>
                    <li class="card">
                        <h3>Título do Card 4</h3>
                        <img src="{% static 'img/pagamentoseguro.png' %}"
                            alt="Nome do Produto">
                        <p>Texto do Card 4</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ########### PRIMEIRA COLUNA PRODUTOS ###########-->
<section class="conteudo">
    <main class="container-fluid-produtos">
        <div class="row">
            {% for p in lista_produto|slice:":12" %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a
                                href="{% url 'virtualstore:produto-detalhe' p.slug %}">
                                {{ p.titulo }}
                            </a>
                        </h4>
                        <img class="card-produto-img" src="{{ p.imagem.url }}"
                            alt="{{ p.titulo }}">
                        <p class="card-text">
                            Preço: <del>R$ {{ p.preco_marcado }}</del> R$ {{
                            p.venda }}
                        </p>
                        <a href="{% url 'virtualstore:addcarrinho' p.id %}"
                            class="btn btn-primary">COMPRAR</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="paginacao-container">
            <ul class="paginacao">
                {% if lista_produto.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1"
                        aria-disabled="true">Anterior</a>
                </li>
                {% endif %}
                {% for i in lista_produto.paginator.page_range %}
                {% if i == lista_produto.number %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if lista_produto.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{lista_produto.next_page_number}}">Próximo</a>
                </li>

                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Próximo
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </main>

    <!-- ########### SEGUNDA COLUNA POSTS ###########-->
    <main class="container-fluid-posts">

        <div class="coluna-posts">
            <div class="card-post">
                <div class="card-body">
                    <h4 class="card-title">Últimas Notícias</h4>
                    <ul>
                        {% for post in latest_news %}
                        <li>
                            <a
                                href="{% url 'virtualstore:detalhe_post' post_id=post.id %}">
                                <div class="card-post">
                                    <div class="card-header">
                                        <h5
                                            class="card-title">{{post.titulo_post}}
                                        </h5>
                                        <p
                                            class="card-text">{{post.data_publicacao}}</p>
                                    </div>
                                    <img
                                        src="{{ post.imagem_post.url }}"
                                        class="card-img-top"
                                        alt="{{ post.titulo_post }}"
                                        width="270"
                                        height="200">
                                    <div class="card-body">
                                        <p
                                            class="card-text">{{post.conteudo_post|slice:":50"}}...</p>
                                        <br />
                                        <a href="#"
                                            class="btn btn-primary">Ver
                                            mais</a>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </main>
</section>
<section>
    <div class="box-categorias">
        <h2>Categorias</h2> <!-- Título movido para dentro do box -->
        <card-slider></card-slider>
        <ul class="card-categorias-lista">
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/eletroeletronicos.png' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/moveis.jpg' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/saude.jpeg' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/brinquedos.png' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/esportes.jpg' %}"
                        alt></a></li>
        </ul>
    </div>
</section>

<section>
    <div class="box-categorias">
        <h2>Categorias</h2> <!-- Título movido para dentro do box -->

        <ul class="card-categorias-lista">
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/eletroeletronicos.png' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/moveis.jpg' %}" alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/saude.jpeg' %}" alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/brinquedos.png' %}"
                        alt></a></li>
            <li class="card-categoria"><a href="#"><img
                        src="{% static 'img/esportes.jpg' %}" alt></a></li>
        </ul>
    </div>
</section>
{% include 'footer.html' %}
{% block scripts %}
<script src="{% static 'js/cardslider.js' %}"></script>"
{% endblock %}
{% endblock %}
